<div class="container">
    <h2>Testimonial</h2>
    <div class="slider-outer">
        <div class="testimonial">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="../../assets/images/testimonial_3.jpg" alt="Testimonial" style="height: 100px;width: 50px;">
                                    </div>
                                    <div class="media-body">
                                        <h5>John Clay</h5>
                                        <p>Cyclist</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-8">
                                <div class="description">"lorem ipsum suffered alteration in aome from, by injected
                                    humor , or randomized words which don't look even slightly believable.There are
                                    many varation of passenger randomized words which don't look even slightly
                                    believable"</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="../../assets/images/testimonial_3.jpg" alt="Testimonial" style="height: 100px;width: 50px;">
                                    </div>
                                    <div class="media-body">
                                        <h5>John Clay</h5>
                                        <p>Cyclist</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-8">
                                <div class="description">"lorem ipsum suffered alteration in aome from, by injected
                                    humor , or randomized words which don't look even slightly believable.There are
                                    many varation of passenger randomized words which don't look even slightly
                                    believable"</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="../../assets/images/testimonial_3.jpg" alt="Testimonial"
                                        style="height: 100px;width: 50px;">
                                    </div>
                                    <div class="media-body">
                                        <h5>John Clay</h5>
                                        <p>Cyclist</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-8">
                                <div class="description">"lorem ipsum suffered alteration in aome from, by injected
                                    humor , or randomized words which don't look even slightly believable.There are
                                    many varation of passenger randomized words which don't look even slightly
                                    believable"</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>

    </div>
</div>