<a
  style="cursor: pointer"
  class="list-group-item clearfix"
  routerLink="/orders/{{orderitem[0].order_id}}"
  
  
>
  <div class="pull-left">
    <h4 class="list-group-item-heading" >
      {{ orderitem[0].product_name }}...
      
    </h4>
    
     <p class="list-group-item-text">
      {{ orderitem[0].created_at | date: "medium" }}
    </p>
    
  </div>
  <div class="pull-right listdiv">
    <span class="badge badge-info">{{ orderitem.length }} item</span>
    <img src="{{envimage}}/{{ orderitem[0].product_image}}" class="list-img"style=""/>
    
  </div>
</a>
