<div class="wrapper">
        <!-- Header Start -->
    <app-header></app-header>        
        <!-- Header End-->
    <router-outlet></router-outlet>
    <!-- Content End-->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container">
            <div class="clearfix">
                <div class="footer-content">
                    <form>
                        <div class="form-group">
                            <label>Subscribe for Newsletter</label>
                            <p class="thankyou-msg">Thank you for your subscription.</p>
                            <input type="text" class="form-control" placeholder="Enter your email address">
                        </div>
                        <button type="button" class="sign-up">sign up</button>
                    </form>
                    <ul class="footer-links">
                        <li><a href="index.html" title="Home">Home</a></li>
                        <li><a href="about-us.html" title="About us">About us</a></li>
                        <li><a href="register.html" title="Register">Register</a></li>
                        <li><a href="contact.html" title="Contact us">Contact us</a></li>
                    </ul>
                    <p class="copyright">&copy; 2017 eShopper online store. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" title="Back to Top" class="back-to-top"><img src="../assets/images/up-arrow-white.svg" alt="Arrow"></a>
    <!-- Footer End -->
    <div class="popup-outer">
        <div class="modal fade" id="Login-popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2>eShopper Login</h2>
                    </div>
                    <div class="modal-body">
                        <form  class="loginform">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" placeholder="Enter your Username">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" placeholder="Enter your Password">
                            </div>
                            <div class="form-group validation-error">
                                <label class="form-label">Password</label>
                                <input type="text" class="form-control" placeholder="Enter your Password" value="Incorrect Password">
                            </div>
                            <div class="form-group clearfix login-options">
                                <button type="submit" class="btn-secondary">Login</button>
                                <p>Not a Member? <a routerLink="register"  title="Register">Register</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
