<div class="banner">

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of sliders"><img src="{{ envimage }}/{{ item.image }}"
                alt="banner"></ng-template>

    </owl-carousel-o>
</div>
<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="media service01">
                    <div class="media-left"></div>
                    <div class="media-body">
                        <h4 class="media-heading">Free Delivery Worldwide</h4>
                        <p>At vero eos et accusamus et iusto odio</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media service02">
                    <div class="media-left"></div>
                    <div class="media-body">
                        <h4 class="media-heading">Free Return For 90 Day</h4>
                        <p>At vero eos et accusamus et iusto odio</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media service03">
                    <div class="media-left"></div>
                    <div class="media-body">
                        <h4 class="media-heading">Discount on Order Gift</h4>
                        <p>At vero eos et accusamus et iusto odio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Start-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-block">
                    <h2>Trending Product</h2>
                </div>
                <div class="grid-content">
                    <div class="grid row">
                        <app-product-item *ngFor="let item of filterproduct;let i=index" [product]="item" [Index]="i">
                        </app-product-item>


                        <div class="col-sm-12 col-xs-12">
                            <span class="button-outer text-center">
                                <a (click)="moreproduct()" title="More Products" class="btn-tertiary"
                                    style="cursor:pointer" *ngIf="filterproduct.length!=product.length">More
                                    Products</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-banner">
        <div class="container">
            <div class="banner-inner-text">
                <div class="banner-inner-width">
                    <div class="text01">
                        <span>Get the</span> latest
                    </div>
                    <div class="text01">
                        <span>womens</span> fashion
                    </div>
                    <a routerLink="/products/0" title="Get Exclusive Collection For Women" class="btn-secondary" style="cursor: pointer;">Get
                        Exclusive Collection For Women</a>
                </div>
            </div>
        </div>
    </div>
    <app-testimonial></app-testimonial>
</section>