<div class="title-block-outer">
    <img src="../../assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive">
    <div class="title-block-container">
        <div class="container">
            <h2>Update Profile</h2>
        </div>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html" title="Home">Home</a></li>
            <li class="active">Update Profile</li>
        </ol>
    </div>
</div>
<div style="text-align:center;
position: fixed;
top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: 9999;
" *ngIf="isloading">
    <app-loading-spinner></app-loading-spinner>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 register profile">
                <form class="form-block" #updateForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" value="test123" placeholder="Please enter your username" [(ngModel)]="formdata.username" name="username" required #username="ngModel"/>
                                <span class="error" *ngIf="username.invalid && username.touched">Username field is required</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group gender-list">
                                <label class="form-label">Gender</label>
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                        <ul>
                                            <li class="custom-check">
                                                <label> <input type="radio" class="icheck" name="gender" value="Male" [(ngModel)]="formdata.gender" required/>Male</label> 
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="radio" class="icheck" name="gender" value="Female" [(ngModel)]="formdata.gender" required/>Female</label> 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Please enter valid email" [(ngModel)]="formdata.email" name="email" required email #email="ngModel">
                                <span class="error" *ngIf="email.invalid && email.touched">Email is invalid</span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="Please enter your first name" [(ngModel)]="formdata.firstname" name="firstname" required #firstname="ngModel">
                                <span class="error" *ngIf="firstname.invalid && firstname.touched">FirstName is required</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Mobile No.</label>
                                <input type="text" class="form-control" placeholder="Please enter your mobile no." minlength="8" maxlength="12" pattern="[0-9]{8,12}" [(ngModel)]="formdata.mobileno" name="mobileno" required #mobileno="ngModel">
                                <span class="error" *ngIf="mobileno.invalid && mobileno.touched">Mobile no. is between 8 to 12 letter and it must be number</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" placeholder="Please enter your last name" [(ngModel)]="formdata.lastname" name="lastname" required #lastname="ngModel">
                                <span class="error" *ngIf="lastname.invalid && lastname.touched">LastName is required</span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" placeholder="Please enter your phone" [(ngModel)]="formdata.phoneno" name="phoneno" required minlength="6" maxlength="10" pattern="[0-9]{6,10}" #phoneno="ngModel">
                                <span class="error" *ngIf="phoneno.invalid && phoneno.touched">Phone no. is between 6 to 10 letter and it must be number</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Interests</label>
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                      <ul>
                                        <li class="custom-check">
                                            <label><input type="checkbox" class="icheck"(change)="selectall($event)" ngModel name="all">Select All</label> 
                                        </li>
                                        <li class="custom-check">
                                            <label><input type="checkbox" class="icheck" name="men" [(ngModel)]="formdata.menchecked" (change)="checkboxchange($event,'men')"> Option 1</label> 
                                        </li>
                                        <li class="custom-check">
                                          <label><input type="checkbox" class="icheck" name="women" [(ngModel)]="formdata.womenchecked" (change)="checkboxchange($event,'women')"/>Option 2</label> 
                                      </li>
                                      <li class="custom-check">
                                          <label><input type="checkbox" class="icheck" name="kids" [(ngModel)]="formdata.kids" (change)="checkboxchange($event,'kids')">Option 3</label> 
                                      </li>
                                      <li class="custom-check">
                                          <label><input type="checkbox" class="icheck" name="other" [(ngModel)]="formdata.other" (change)="showtextbox($event)">Other</label>
                                          <input type="text" class="form-control" [(ngModel)]="formdata.otherintrest" name="otheri" *ngIf ="isshown" required/>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6">
                      <div class="shipping-address-block">
                          <div class="form-group">
                              <a class="btn-tertiary" data-toggle="collapse" data-target=".shipping-form">Edit Shipping Address</a> 
                          </div>

                          <div class="shipping-form collapse">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Street</label>
                                        <input type="text" class="form-control" placeholder="Please enter your Street" name="s_street" [(ngModel)]="shipping.street" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">City</label>
                                        <select class="form-control" name="s_city" [(ngModel)]="shipping.city" required>
                                            <option value="">---Select City---</option>
                                            <option *ngFor="let city of cityfilter" value="{{ city.id }}">{{ city.city_name }}</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Country</label>
                                        <select class="form-control" (change)="filterstate($event)" name="s_country" [(ngModel)]="shipping.country" required>
                                            <option value="">---Select Country----</option>
                                            <option *ngFor="let country of allcountries" value="{{ country.id }}">{{ country.country_name }}</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">State</label>
                                        <select class="form-control" (change)="filtercity($event)" name="s_state" [(ngModel)]="shipping.state" required>
                                            <option value="">---Select State---</option>
                                            <option *ngFor="let state of statefilter" value="{{ state.id }}">{{ state.state_name }}</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                  <div class="billing-address-block">
                      <div class="form-group">
                          <a class="btn-tertiary" data-toggle="collapse" data-target=".billing-form">Edit Billing Address</a>
                          <label class="billing-label"><input type="checkbox" class="icheck" (change)="addresschange($event)">Same as Shipping Address</label> 
                      </div>
                      <div class="billing-form collapse">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Street</label>
                                    <input type="text" class="form-control" placeholder="Please enter your Street" name="b_street" [(ngModel)]="billing.street" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">City</label>
                                    <select class="form-control" name="b_city" [(ngModel)]="billing.city" required>
                                        <option value="" selected>---Select City---</option>
                                        <option *ngFor="let city of cityfilter" value="{{ city.id }}">{{ city.city_name }}</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Country</label>
                                    <select class="form-control" (change)="filterstate($event)" name="b_country" [(ngModel)]="billing.country" required>
                                        <option value="">---Select Country----</option>
                                        <option *ngFor="let country of allcountries" value="{{ country.id }}">{{ country.country_name }}</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">State</label>
                                    <select class="form-control" (change)="filtercity($event)" name="b_state" [(ngModel)]="billing.state" required>
                                        <option value="">---Select State---</option>
                                        <option *ngFor="let state of statefilter" value="{{ state.id }}">{{ state.state_name }}</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" [(ngModel)]="formdata.id" name="id">
        <div class="bottom-group ">    
          <div class=" row">    

              <div class=" col-sm-12 text-right">
                <div class="form-group clearfix submit-outer">
                    <button type="submit" class="btn-secondary" [disabled]="!updateForm.valid">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

</div>
</div>
</section>