<div class="col-sm-3 col-xs-6">
    <figure class="effect-goliath" style="height:432px">
        <div class="thumb-outer">
            <a href="#" title="{{ product.product_name }}" class="thumb-image"><img
                    src="{{envimage}}/{{ product.product_image}}" alt="thumb"
                    style="height:300px;width:500px"></a>
            <a title="Add to Cart" class="cart-button" style="cursor:pointer" (click)="addcart(product)">Add to Cart</a>
        </div>
        <figcaption>
            <a routerLink="/products/detail/{{ product.id }}" title="{{ product.product_name }}" class="heading">{{
                product.product_name }}</a>
            <span>&#8377;{{ product.price }}</span>
        </figcaption>
    </figure>
</div>