<div class="loader" *ngIf="isloading"></div>

<div class="title-block-outer" *ngIf="!isloading">
  <img
    src="../../assets/images/inner-banner.jpg"
    alt="Banner-image"
    class="img-responsive"
  />
  <div class="container title-block-container">
    <h2>{{ product.subcategory_name }}</h2>
  </div>
</div>
<div class="breadcrumb-panel">
  <div class="container">
    <ol class="breadcrumb">
      <li><a routerLink="/" title="Home">Home</a></li>
      <li>
        <a routerLink="/products/{{ product.category_name | lowercase }}" (click)="categorychange()">{{ product.category_name }}</a>
      </li>
      <li>
        <a routerLink="/products/{{ product.category_name | lowercase }}" (click)="subcategorychange(product.subcategory_name)">{{ product.subcategory_name }}</a>
      </li>
      <li class="active">{{ product.product_name }}</li>
    </ol>
  </div>
</div>
<section class="product_detail content">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide
            ><img src="{{ envimage }}/{{ product.product_image }}" alt="" />
          </ng-template>
        </owl-carousel-o>

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of allproduct"
            ><a
              style="cursor: pointer"
              routerLink="/products/detail/{{ item.id }}"
              ><img
                src="{{ envimage }}/{{ item.product_image }}"
                alt=""
                style="height: 70px"
            /></a>
          </ng-template>
        </owl-carousel-o>
      </div>
      <div class="col-sm-7">
        <div class="product-name">
          <h1>{{ product.product_name }}</h1>
        </div>
        <div class="short-description">
          {{ product.product_description }}
        </div>
        <div class="sku"><span>SKU: </span> {{ product.sku_id }}</div>
		<br>
        <div class="price-box">{{ product.price|converter:currency|currency:currency:(currency=='inr'?'&#8377;':'$') }}</div>
        <div class="product-options">
          <label class="required"><em>*</em> size</label>
          <p class="required">* Required Fields</p>
          <div class="form-group">
            <select [(ngModel)]="product_size" name="product_size">
              <option value="">-- Please Select --</option>
              <option *ngFor="let item of size">{{ item }}</option>
            </select>
          </div>
        </div>
        <div class="add-to-cart-btn clearfix">
          <label>Qty:</label>
          <h3 *ngIf="quantity.length <= 0">Out of stock</h3>
          <select name="product_quantity" [(ngModel)]="product_quantity" *ngIf="quantity.length > 0">
            <option
              *ngFor="let item of quantity; let i = index"
              value="{{ i + 1 }}"
            >
              {{ i + 1 }}
            </option>
          </select>
          <button
            type="button"
            (click)="addtocart(product)"
            title="Add to Cart"
            class="button btn-cart"
            [disabled]="product_size == '' || quantity.length <=0"
            *ngIf="isloggedin"
          >
            <span><span>Add to Cart</span></span>
          </button>
          <button
            type="button"
            title="Add to Cart"
            class="button btn-cart"
            *ngIf="!isloggedin"
            data-toggle="modal"
            data-target="#Login-popup"
          >
            <span><span>Add to Cart</span></span>
          </button>
        </div>
        <div class="email-addto-box clearfix">
          <ul class="add-to-links">
            <li>
              <a
                style="cursor: pointer"
                class="link-wishlist"
                *ngIf="isloggedin && !wishlist"
                (click)="addwishlist()"
                >Add to Wishlist</a
              >
            </li>
            <li>
              <a
                style="cursor: pointer"
                class="link-wishlist"
                *ngIf="isloggedin && wishlist"
                (click)="removewishlist()"
                >Remove to Wishlist</a
              >
            </li>
          </ul>
        </div>
        <div class="tablist-nav">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs clearfix" role="tablist">
            <li role="presentation" class="active">
              <a
                href="#delivery"
                aria-controls="delivery"
                role="tab"
                data-toggle="tab"
                >Delivery</a
              >
            </li>
            <li role="presentation">
              <a
                href="#shipping"
                aria-controls="shipping"
                role="tab"
                data-toggle="tab"
                >Shipping</a
              >
            </li>
            <li role="presentation">
              <a
                href="#sizeguide"
                aria-controls="sizeguide"
                role="tab"
                data-toggle="tab"
                >Sizeguide</a
              >
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="delivery">
              We offer the following delivery options for 24c ours over the
              world. Deliveries are not made on Saturdays, Sundays or on public
              holidays. A specific time slot cannot be specified with any of our
              delivery options. Please refer to the Terms and Conditions of
              Sale.
            </div>
            <div role="tabpanel" class="tab-pane" id="shipping">
              Before we can dispatch your purchases, we may need to confirm your
              details with your card issuer. We will do our best to keep delays
              to a minimum Our delivery time starts from the moment an order is
              accepted and includes a 48 hour period where your items will be
              processed and dispatched by our warehouse
            </div>
            <div role="tabpanel" class="tab-pane" id="sizeguide">
              <table class="size_guide_table">
                <thead>
                  <tr>
                    <th>Size</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Men</td>
                    <td>7-10</td>
                    <td>10-13</td>
                    <td>13-15</td>
                    <td>15-17</td>
                  </tr>
                  <tr>
                    <td>Women</td>
                    <td>7-9</td>
                    <td>10-12</td>
                    <td>13-14</td>
                    <td>15-16</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-content">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        
        <li role="presentation" class="active">
          <a
            href="#product-review"
            aria-controls="product-review"
            role="tab"
            data-toggle="tab"
            >Product's Review</a
          >
        </li>
        
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        
        <div role="tabpanel" class="tab-pane active" id="product-review">
          <div style="float: right;">
            {{ averagerating }} Out of 5
            <div>
              <img src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e" alt="" *ngFor="let star of counter(averagestar)" style="height: 20px;width:20px"/>
              <img src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e" alt="" *ngFor="let star of counter(5-averagestar)" style="height: 20px;width:20px"/>              
            </div>
          </div>
          <p class="write-review" style="border-bottom: none;">
            <a style="cursor: pointer" title="Write a review" class="review-tag" (click)="reviewtoggle()" 
              >Write a review &nbsp;<span class="glyphicon glyphicon-pencil
              " style="font-size: 12px;"></span></a
            >
          </p>
          
          <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)" *ngIf="toggle" style="border-top: 1px solid #ccc;margin-top: 20px;"> 
            <div class="form-group">
              
                <div class="feedback">
                  <div class="rating">
                    <input type="radio" name="rating" id="rating-5" value="5" ngModel required/>
                    <label for="rating-5"></label>
                    <input type="radio" name="rating" id="rating-4" value="4" ngModel required/>
                    <label for="rating-4"></label>
                    <input type="radio" name="rating" id="rating-3" value="3" ngModel required/>
                    <label for="rating-3"></label>
                    <input type="radio" name="rating" id="rating-2" value="2" ngModel required/>
                    <label for="rating-2"></label>
                    <input type="radio" name="rating" id="rating-1" value="1" ngModel required/>
                    <label for="rating-1"></label>
                  </div>
                </div>
              
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                placeholder="Write a review"
                rows="4"
			      	  ngModel
				        name="description"
				        required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-secondary" [disabled]="!isloggedin || !reviewForm.valid ">Submit</button>
          </form>
          
          <div class="review-detail" *ngFor="let item of filterreviews">
            <hr>
            <span>{{ item.username}}, {{ item.created_at|date}}  writes:</span>
            <div>
              <img src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e" alt="" *ngFor="let star of counter(item.review)" style="height: 20px;width:20px"/>
              <img src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e" alt="" *ngFor="let star of counter(5-item.review)" style="height: 20px;width:20px"/>              
            </div>
            <p>
              {{ item.description}}
            </p>
          </div>
          <hr>
          <div style="display: flex;justify-content: center;">
            <a style="cursor: pointer;" class="btn btn-secondary" *ngIf="allreviews.length>5 && filterreviews.length != allreviews.length" (click)="viewmore()">View More</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
