<div class="popup-outer">
    <div class="modal fade" id="Forget-popup" role="dialog" aria-hidden="true" #openmodal data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #modal (click)="resetall()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>Forget Password</h2>
                </div>
                <div class="modal-body" *ngIf="phase == 1">
                    <div *ngIf="isloading" style="text-align: center">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        {{ error }}
                    </div>
                    <form class="loginform" #forgetForm="ngForm" (ngSubmit)="onSubmit(forgetForm)">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" placeholder="Enter your Email" #email="ngModel"
                                name="email" ngModel required email>
                            <span class="error" *ngIf="email.invalid && email.touched && email.value == ''">Email field is required</span>
                            <span class="error" *ngIf="email.invalid && email.touched && email.value != ''">Email is invalid</span>
                        </div>
                        

                        <div class="form-group clearfix login-options">
                            <button type="submit" class="btn btn-secondary" [disabled]="!forgetForm.valid">Reset Password</button>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-body" *ngIf="phase == 2">
                    <div *ngIf="isloading" style="text-align: center">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        {{ error }}
                    </div>
                    <form class="loginform" #forgetForm="ngForm" (ngSubmit)="otpSubmit(forgetForm)">
                        <div class="form-group">
                            <label class="form-label">Otp</label>
                            <input type="password" class="form-control" placeholder="Enter your Otp" 
                                name="otp" ngModel required>
                            
                        </div>
                        <div>Your otp expires in <span style="color: green;">{{ minutes }}:{{ seconds}}</span> minutes</div>

                        <div class="form-group clearfix login-options">
                            <button type="submit" class="btn btn-secondary" [disabled]="!forgetForm.valid">Reset Password</button>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-body" *ngIf="phase == 3">
                    <div *ngIf="isloading" style="text-align: center">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    
                    <form class="loginform" #forgetForm="ngForm" (ngSubmit)="passwordSubmit(forgetForm)">
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="{{ newpassword.type }}" class="form-control" placeholder="Enter your new Password" 
                                name="password" minlength="8" ngModel required>
                            <span class="eye" style="cursor: pointer;" (click)="typechange($event,'newpassword')"><img src="../../assets/images/eye.png"></span>
                            
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input type="{{ confirmpassword.type }}" class="form-control" placeholder="Enter your Confirm Password" 
                                name="confirmpassword" minlength="8" ngModel required>
                            <span class="eye" style="cursor: pointer;" (click)="typechange($event,'confirmpassword')"><img src="../../assets/images/eye.png"></span>
                            <span class="error" *ngIf="error!=''">{{ error }}</span>        
                        </div>
                        

                        <div class="form-group clearfix login-options">
                            <button type="submit" class="btn btn-secondary" [disabled]="!forgetForm.valid">Reset Password</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
