<div class="popup-outer">
  <div
    class="modal fade"
    id="changepassword-popup"
    role="dialog"
    aria-hidden="true"
    #openmodal
    data-backdrop="false"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            #modal
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Change Password</h2>
        </div>
        <div class="modal-body">
          <div *ngIf="isloading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <form
            class="loginform"
            #changeform="ngForm"
            (ngSubmit)="onSubmit(changeform)"
          >
            <div class="form-group">
              <label class="form-label">Current Password</label>

              <input
                type="{{ oldpassword.type }}"
                class="form-control"
                placeholder="Enter your Current Password"
                name="current_password"
                #current_password="ngModel"
                ngModel
                required
              />
              <span
                class="eye glyphicon"
                [ngClass]="{
                  'glyphicon-eye-open': oldpassword.type == 'password',
                  'glyphicon-eye-close': oldpassword.type == 'text'
                }"
                style="cursor: pointer"
                (click)="typechange($event, 'oldpassword')"
              ></span>
              <span
                class="error"
                *ngIf="
                  current_password.invalid &&
                  current_password.touched &&
                  current_password.value == ''
                "
              >
                Password is Required
              </span>
              <span class="error" *ngIf="olderror != ''">{{ olderror }}</span>
            </div>
            <div class="form-group">
              <label class="form-label">New Password</label>

              <input
                type="{{ newpassword.type }}"
                class="form-control"
                placeholder="Enter your New Password"
                name="new_password"
                minlength="8"
                #password="ngModel"
                ngModel
                required
              />
              <span
                class="eye glyphicon"
                [ngClass]="{
                  'glyphicon-eye-open': newpassword.type == 'password',
                  'glyphicon-eye-close': newpassword.type == 'text'
                }"
                style="cursor: pointer"
                (click)="typechange($event, 'newpassword')"
              ></span>
              <span
                class="error"
                *ngIf="
                  password.invalid && password.touched && password.value != ''
                "
              >
                Password is invalid
              </span>
              <span
                class="error"
                *ngIf="
                  password.invalid && password.touched && password.value == ''
                "
              >
                Password is Required
              </span>
            </div>
            <div class="form-group">
              <label class="form-label">Confirm Password</label>

              <input
                type="{{ confirmpassword.type }}"
                class="form-control"
                placeholder="Enter your Confirm Password"
                name="confirm_password"
                ngModel
                required
              />
              <span
                class="eye glyphicon"
                [ngClass]="{
                  'glyphicon-eye-open': confirmpassword.type == 'password',
                  'glyphicon-eye-close': confirmpassword.type == 'text'
                }"
                style="cursor: pointer"
                (click)="typechange($event, 'confirmpassword')"
              ></span>
              <span class="error">{{ error }}</span>
            </div>

            <div class="form-group clearfix login-options">
              <button
                type="submit"
                class="btn btn-secondary"
                [disabled]="!changeform.valid"
              >
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
