<div class="loader" *ngIf="isloading"></div>


<div class="title-block-outer">
    <img src="../../assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive">
    <div class="container title-block-container">
        <h2>{{ Category }}</h2>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a routerLink="/" title="Home">Home</a></li>
            <li class="active"><a title="Men">{{ Category|uppercase }}</a></li>

        </ol>
    </div>
</div>
<section class="product_listing content">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 ">
                <div class="left-panel">
                    <h3>Filter By</h3>
                    <div class="filter-option">
                        <div class="title" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            Categories
                        </div>
                        <div class="filter-option-inner collapse in" id="collapse1">
                            <ul>
                                <li class="custom-check" *ngFor="let item of subcategory;let i=index">
                                    <label>
                                        <input type="checkbox" class="icheck" value="{{ item.id }}"
                                            (change)="filterbysubcat($event,i)" style="cursor:pointer" [checked]="checkedsubcat[i]==1"> {{
                                        item.subcategory_name }} <span>({{item.count}})</span>
                                    </label>
                                </li>
                                <li><a (click)="resetsubcategory()" title="Reset" class="reset-link" style="cursor: pointer;">Reset</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-option">
                        <div class="title" data-toggle="collapse" href="#collapse2" aria-expanded="false">Color</div>
                        <div class="filter-option-inner collapse in" id="collapse2">
                            <ul class="colour_family_list clearfix">
                                <li *ngFor="let item of color;let i=index">
                                    <a title="{{ item.color_name }}" (click)="filterbycolor(item.color_name)" style="cursor: pointer;" [ngClass]="{'checkedcolor':checkedcolor==item.color_name}"> <span
                                            [style.background-color]="item.color_code"></span> {{ item.color_name }}
                                        <i>({{ item.count }})</i></a>
                                </li>

                                <li><a (click)="resetcolor()" title="Reset" class="reset-link" style="cursor: pointer;">Reset</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-option">
                        <div class="title" data-toggle="collapse" href="#collapse3" aria-expanded="false">Price</div>
                        <div class="filter-option-inner collapse in" id="collapse3">
                            <div class="info">{{ filterproduct.length }} items</div>
                            
                            <ng5-slider [(value)]="value" [(highValue)]="highValue" [(options)]="options"
                                (valueChange)="filterbyprice()"></ng5-slider>
                            
                        </div>
                    </div>
                    <div class="filter-option">
                        <div class="title" data-toggle="collapse" href="#collapse4" aria-expanded="false">Size</div>
                        <div class="filter-option-inner size-filter collapse in" id="collapse4">
                            <ul>

                                <li class="custom-check" *ngFor="let item of size;let i=index">
                                    <label>
                                        <input type="checkbox" class="icheck" value="{{ item.id }}"
                                            (change)="filterbysize($event,i)" style="cursor:pointer" [checked]="checkedsize[i]==1"> {{ item.size_name
                                        }} <span>({{ item.count}})</span>
                                    </label>
                                </li>
                                <li><a (click)="resetsize()" title="Reset" class="reset-link" style="cursor: pointer;">Reset</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="add-block">
                    <a title="Promotion"><img src="../../assets/images/promo2.jpg" alt=""
                            class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-9">
                <h3>{{ Category|uppercase }}</h3>
                <div class="toolbar clearfix">

                    <div class="pager_right">
                        <div class="sort-by">
                            <label>Sort By</label>&nbsp;
                            <div class="form-group">
                                <select class="custom-dropdown" (change)="sorting($event)" style="cursor: pointer;">
                                    
                                    <option value="name">Name</option>
                                    <option value="price">Price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-content">
                    <div class="grid row">



                        <app-product-item *ngFor="let item of filterproduct;let i=index" [product]="item" [Index]="i">
                        </app-product-item>
                        <div *ngIf="filterproduct.length == 0 && !isloading">
                            <h1>No products Availiable</h1>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12" *ngIf="!isloading">
                    <span class="button-outer text-center">
                        <a class="btn-tertiary" style="cursor: pointer;" title="More Products"
                            *ngIf="filterproduct.length > 8 && filterproduct.length!=product.length" (click)="moreproduct()">More Products</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>